.card {
  background-color: white;
  display: grid;
    grid-template-columns: [left-side] 78px [right-side] auto;
  border-radius: 5px;
}

.left {
  min-height: 90px;
  width: 78px;
  grid-column: left-side;
  display: grid;
    place-items: center;
}

.left figure {
  height: 50;
  width: 100%;
  margin: 0;
  display: grid;
    place-items: center;
  border-left: 1px solid #CCCCCF;
}

.icon {
  background-color:#EBEBEC;
  margin: 0;
  font-size: 20px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: grid;
    place-items: center;
}

.right {
  grid-column: right-side;
  align-self: center;
  padding: 4px 9px 4px 0;
}

.right p {
  text-align: left;
  cursor: pointer;
}

.title {
  font-size: 12px;
  margin: 0 0 2px 0;
}

.body {
  font-size: 16px;
  line-height: 1.1em;
  margin: 0;
}
