.centerChild {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hackBorder {
  border-left: 1px solid white; /* to cover the left border of the left-most cards */
  border-radius: 5px;
}

.gridCardContainer {
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-auto-rows: 90px;
  grid-template-columns: 313px 313px 313px 313px;
  margin-left: -1px;
  position: relative;
  z-index: -1;
}
