.hackZIndex,
.hackBorder,
.cardGrid {
  width: 100%;
}

.hackZIndex { /* make sure the grid won't be covered*/
  position: relative;
  z-index: 1;
}

.hackBorder {
  border-left: 3px solid white; /* to cover the left border of the left-most cards */
  border-radius: 5px;
}

.cardGrid {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  left: -2px;
  z-index: -1;
}

.cardGrid.col3 {
  grid-template-columns: repeat(3, 1fr);
}


@media screen and (max-width:1366px){
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
