.activeTab span,
.inactiveTab span {
  padding: 0 20px;
  font-size: 14px;
  position: relative;
  top: -1px;
}

.activeTab,
.inactiveTab {
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.activeTextWrapper {
  font-weight: 500;
  flex-grow: 99;
  display: flex;
    align-items: center;
  position: relative;
  top: 2px;
}

.inactiveTab:hover {
  background-color: rgb(70, 181, 196);
}

.inactiveTab {
  cursor: pointer;
}


.tabHighlighter {
  height: 4px;
  width: 100%;
  background-color: #c6ebf3;
  border-radius: 4px 4px 0 0;
}
