/* this is a complicated sheet, so I switched to overkill mode */

/* color↓ */
.name,
.dropdown:hover,
.button1:hover,
.button2:hover {
  color: white;
}

.button1:hover,
.button2:hover {
  background-color: #1976d2;
  border-radius: 50%;
}

.nodeHeader,
.icon,
.category,
.dropdown,
.button1,
.button2 {
  color: #B2EBF2;
}

.nodeHeader {
  border-top: 5px solid #6FC391;
}

.icon,
.text,
.dropdown {
  background-color: #0097A7;
}

.nodeHeader,
.buttonWrapper,
.nav {
  background-color: #00acc1;
}

/* alignment↓ */
.nodeHeader {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: grid;
    align-items: center;
    grid-template-columns:[icon] 50px [text] max-content [dropdown] 41px [button1] 35px [button2] 30px [nav] auto;
}

.icon,
.text,
.dropdown,
.buttonWrapper,
.button1,
.button2 {
  height: 100%;
  display: grid;
    place-items: center;
}

.button1 {
  justify-self: right;
  align-self: center;
  height: 27px;
  width: 27px;
}

.button2 {
  justify-self: left;
  align-self: center;
  height: 27px;
  width: 27px;
}

.icon {
  padding-left: 6px;
}

.text {
  grid-column: text;
  grid-template-rows: 5fr 4fr;
  justify-items: start;
}

.name {
  align-self: end;
  position: relative;
  bottom: -1px;
}

.category {
  align-self: start;
  position: relative;
  top: -1px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

/* font-size & placement in the grid ↓ */
.icon {
  grid-column: icon;
  font-size: 20px;
}

.name {
  font-size: 14px;
}

.category {
  font-size: 11px;
}

.dropdown {
  font-size: 15px;
  grid-column: dropdown;
}

.button1 {
  font-size: 15px;
  grid-column: button1;
}

.button2 {
  font-size: 15px;
  grid-column: button2;
}

.nav {
  grid-column: nav;
  height: 100%;
}

/* cursor↓ */
.dropdown,
.button1,
.button2 {
  cursor: pointer;
}
