/* All Commented lines moved to asset folder css files */

/* Let's get this party started */
.tabContent::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.tabContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 102, 122, 0.2);
}

/* Handle */
.tabContent::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(255, 102, 122);
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.5);
}

.tabContent::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(255, 102, 122);
}

.hide {
  display: none !important;
}

.modelPopup {

}

/* label[for="collapseSwitch"] {
  position: absolute;
  left: calc(250px - 25px - 15px / 2);
  cursor: pointer;
  background: #e6f5f8;
  background: linear-gradient(rgb(230, 245, 248), rgb(204, 235, 239));
  color: #0aa4b3;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: calc(30px / 2);
  font-size: 0;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  z-index: 99;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

label[for="collapseSwitch"]:before {
  content: '';
  font-family: 'FontAwesome';
  display: block;
  font-size: 14px;
  position: absolute;
  left: 9px;
  top: 2px;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

label[for="collapseSwitch"]:hover {
  background: #0aa4b3;
  color: #fff;
  width: 27px;
  height: 27px;
  left: calc(250px - 27px - 15px / 2);
  top: calc(20px / 2);
  box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.35);
}

label[for="collapseSwitch"]:hover:before {
  left: 10px;
  top: 4px;
  font-size: 16px;
}

input:checked + label[for="collapseSwitch"]:before {
  content: '';
  left: 10px;
}

input:checked + label[for="collapseSwitch"] {
  left: 25px;
} */

/* input:checked + label[for="collapseSwitch"] ~ .topHeader + nav > ul li a {
  width: 60px;
  white-space: nowrap;
  text-indent: calc(-220px - 45px);
  padding-left: 10px;
} */

input:checked + label[for="collapseSwitch"] ~ .topHeader + nav > ul li a span {
  text-indent: 0;
  width: 50px;
}

/* input:checked + label[for="collapseSwitch"] ~ .topHeader + nav > div {
  width: calc(100% - 60px);
  left: 60px;
} */

label[for="collapseSwitch"] + h2 {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: #566573;
  left: 10px;
  width: 220px;
  text-align: left;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

input:checked + label[for="collapseSwitch"] + h2 {
  width: 0px;
}

input:checked + label[for="collapseSwitch"] ~ .topHeader {
  width: calc(100% - 60px);
  margin-left: 60px;
}

body {
  background-color: #fff;
}

.displayIcon {
  font-size: 42px !important;
  position: relative;
  bottom: 73px;
  right: 139px;
}

.topHeader {
  text-align: left;
  display: none;
  background-color: #5d6d7e;
  color: #fff;
  font-size: 14PX;
  line-height: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 40px;
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  z-index: 4;
  position: relative;
}

.container {
  position: absolute;
  left: calc(240px + 15px * 2);
  top: calc(100% / 2 + 12px + 35px);
  width: calc(100% - 240px - 15px * 2 - 30px);
  z-index: 99999;
  margin-right: 20px;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  padding-right: 5px;
}

.modalBoxDiv {
  position: relative;
  float: none;
  left: 99px;
  top: -24px;
}

/* .topHeader + nav ul + div {
  width: calc(100% - 250px - 5px);
  -webkit-transition: 0.25s ease-out;
  -moz-transition: 0.25s ease-out;
  -o-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
} */

.paneContent {
  border-bottom-left-radius: 10px;
  background-color: #fff;
}

.paneContent > div:first-child {
  margin-top: 0;
}

@keyframes left1 {
  from {
    margin-left: -500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.paneContent > div {
  animation: left1 0.5s steps(50) alternate;
}

.secondDivContainer {
  display: table-cell;
  float: left;
}

.thirdDivContainer {
  display: table-cell;
  float: left;
  position: relative;
  top: 44px;
  margin-bottom: 40px;
}

.panel .thirdContainer {
  margin: 0;
}

.thirdContainer {
  display: block;
  overflow: hidden;
  padding-bottom: 1px;
  position: relative;
  border-radius: 5px;
  border-radius: 10px;
  /*float: left;*/
  clear: both;
  margin-bottom: 15px;
  margin: 2px solid red;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.thirdContainer + div > div > div {
  box-shadow: none !important;
  background: transparent !important;
}

.combined {
  display: block;
  height: auto;
  text-align: left;
  width: 293px;
  padding: 0px 0px 0px 33px;
  border: 1px solid #fbf1f1;
  border-left-color: #f0ad4e;
  border-left-width: 6px;
  background-color: white;
  margin: 0px 0px 0px 12px;
}

/*
.educationInfoCard {
    min-height: 70px;
    height: auto;
    display: block;
    height: auto;
    text-align: left;
    width: 285px;
    padding: 7px 2px 4px 56px;
    border: 1px solid #fbf1f1;
    border-left-color: #f0ad4e;
    border-left-width: 6px;
    background-color: white;
    margin: 0px 0px 3px 12px;
}*/

.educationcombined {
  display: block;
  height: 85px;
  width: 220px;
  border: 1px solid #fbf1f1;
  margin: 0px 0px 44px 31px;
  border-left-color: #f0ad4e;
  border-left-width: 6px;
  background-color: white
}

.secondRowCombined {
  display: block;
  padding: 11px 0px 7px 40px;
  border: 1px solid #fbf1f1;
  margin: 6px;
  border-left-color: #f0ad4e;
  border-left-width: 6px;
  background-color: white;
}

.nameHeader {
  display: table-cell;
  padding: 11px 80px 7px 40px;
  border: 1px solid #fbf1f1;
  margin: 6px;
  border-left-color: #f0ad4e;
  border-left-width: 6px;
  background-color: white;
  position: relative;
  left: 6px;
}

.thirdRowCombined {
  display: block;
  padding: 11px 80px 7px 40px;
  border: 1px solid #fbf1f1;
  margin: 6px;
  border-left-color: #f8C471;
  border-left-width: 6px;
  background-color: white;
}

.secondColumn {
  display: inline-block;
  float: left;
}

.modalPopUp {
  border-radius: 100%;
}

.modalBoxContent {
  background: #73b7ce;
  width: 100%;
}

.modal-content {
  width: 30%;
}

@keyframes left {
  from {
    width: 0;
    text-indent: -1000px
  }
  to {
    width: calc(100% + 1px);
    text-indent: 0;
  }
}

.sectionHeder {
  display: block;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: left;
  color: #5d6d7e;
  padding: 10px 20px;
  background: rgb(255, 102, 122);
  background: linear-gradient(rgb(255, 125, 142), rgb(255, 73, 97));
  color: #fff;
  width: calc(100% + 1px);
  animation: left 0.5s steps(50) alternate;
}

@keyframes top {
  from {
    margin-left: -500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.subContainer {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 20px 0;
  position: relative;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  animation: top 0.25s steps(50) alternate;
}

.subContainer > .tableContainer {
  margin: 10px 0 20px;
}

.minTableContainer {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 98%;
}

.educationAlert {
  text-align: center;
  animation: shake 0.5s steps(10) infinite alternate;
  cursor: default;
  font-size: 12px;
}

@keyframes shake {
  from {
    zoom: 1.01;
    color: #e74c3c;
  }
  to {
    zoom: 1;
    color: #34495e;
  }
}

.profiletitle {
  font-size: 11px;
  color: #717D7E;
  padding-top: 15px;
  padding-bottom: 5px;

}

.generalProfileHeader {
  margin: 20px;
  color: black;
  font-weight: 800;
  opacity: 0.6;
}

.profilevalue {
  color: black;
  font-weight: 800;
}

.educationProfileValue {
  font-size: 16px;
  color: #5D6D7E;
  font-weight: 500;
  padding: 0px 5px 15px 0px;
}

.tableOtherinformation {
  width: 32% !important;
}

.educationSubTitle {
  width: 37%;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
}

.topDivContainer {
  float: left;
  display: block;
  clear: both;
}

.infoCard {
  min-height: 50px;
  min-width: 300px;
  /*max-width: 300px;*/
  height: auto;
  width: auto;
  text-align: left;
  padding: 0px 0px 0px 44px;
  border: 1px solid #fff;
  border-left-color: #f0ad4e;
  border-left-width: 6px;
  background-color: white;
  margin: 2px 0px 2px 12px;
  color: #041a69;
  word-wrap: break-word;
  font-size: 16px;
}

.organizationInfoCard {
  min-height: 50px;
  min-width: 300px;
  /*max-width: 300px;*/
  height: auto;
  width: auto;
  text-align: left;
  padding: 0px 0px 0px 44px;
  border: 1px solid #fff;
  border-left-color: #f0ad4e;
  border-left-width: 6px;
  background-color: white;
  margin: 0px 0px 0px 12px;
  color: #041a69;
  word-wrap: break-word;
  font-size: 16px;
}

.contentIcon {
  float: left;
  font-size: 29px;
  margin: 4px 6px 0 0;
  color: #85929E;
  padding: 0 2px 0 2px;
}

.contentContainer {
  height: auto;
  word-break: break-all;
  opacity: 0.8;
  /*margin: 2px 0 2px 0;*/
}

.contentHeader {
  height: auto;
  width: auto;
  color: #939393;
  font-weight: 200;
}

.contentData {
  height: auto;
  width: auto;
  text-align: left;
  color: #566573;
  font-size: 16px;
}

.nextLineAlign > p {
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.nextLineAlign > p > span {
  display: block;
}

li {
  list-style-type: none;
  font-weight: 600;
  color: #696969;
  font-size: 14px;
}

.npiDataList {
  max-height: 169px !important;
  width: 175px;
  overflow-y: auto !important;
}

.flexContainer {
}

.flexItem {
  float: left;
  min-height: 50px;
  min-width: 220px;
  margin: 0px 10px 0px 0;
  text-align: left;
}

.flexItem > span {
  display: block;
  white-space: nowrap;
}

.flexItem > span ul {
  padding: 0;
}

.row {
  width: calc(100% - 40px);
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flexItem350 {
  float: left;
  min-height: 50px;
  min-width: 320px;
  margin: 0px 10px 0px 0;
  text-align: left;
}

.flexItem100 {
  float: left;
  min-height: 50px;
  width: 100px;
  margin: 0px 10px 0px 0;
  text-align: left;
}

.panel {
  float: left;
  margin: 0 15px 0 0;
  width: calc((100%) / 3 - 15px);
  margin-bottom: 15px;
}

.infoCardHeadings {
  display: block;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  color: #5d6d7e;
}

.infoCardData {
  font-size: 15px;
  line-height: 16px;
  margin-top: 2px;
  color: #566573;
}

.infoCardData ul {
  padding: 0;
  margin: 0;
}

.npiinfoCardData {
  font-size: 16px;
  color: #566573;
  margin-top: 2px;
  line-height: 16px;
}

.npiinfoCardData > * {
  float: left;
  margin-right: 10px;
}

.npiinfoCardData a {
  background: #Fad7a0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 10px !important;
  color: #455A64 !important;
  display: inline-block;
  text-align: center;
}

.npiinfoCardData a:hover {
  background: #f8c471;
}

.npiDataContainer {
  position: absolute;
  border: 1px solid black;
  background: black;
}

.NPIContainer {
  padding: 0px 12px 0px 0px;
}

.hideData {
  display: none
}

.npiULList {
  color: #ffffff;
  font-size: 11px;
}

.npiHeader {
  width: 100%;
  position: absolute;
  top: 67px;
  left: 20px;
  text-align: left;
  padding: 20px 15px;
  color: #555;
  background: #FFCC7F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  z-index: 3;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.npiHeader:before {
  content: '';
  width: 0;
  height: 0;
  border-bottom: 10px solid #FFCC7F;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
  position: absolute;
  left: calc(100% / 2 - 20px / 2);
  top: calc(0 - 10px);
}

.npiList {
  width: 100%;
  top: 55px;
  left: 20px;
  margin: 0;
  margin-top: 62px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 2;
  border: 1px solid #d6dbdf;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-height: 206px;
  overflow: visible;
  overflow-y: auto;
  position: absolute;
}

.npiList li {
  padding: 10px 5px;
  border-bottom: 1px solid #d6dbdf;
  font: normal 12px/14px 'Open Sans Semibold', 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5d6d7e;
  text-align: left;
}

.npiList li > span {
  padding: 0;
  display: inline-block;
  margin-right: 5px;
}

.npiList li:last-child {
  border: none;
  padding-bottom: 0;
}

.parentNameContainer {
  clear: both;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.parentContainer {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  text-align: center;
}

.childContainer {
  flex-grow: 1;
  width: 33%;
  height: auto;
  word-break: break-all;
}

.infoCardHeading {
  font-size: 11px;
  font-weight: bold;
  color: #5D6D7E;
  margin-right: 10px;
}

.nameCardData {
  font-size: 15px;
  color: #566573;
  height: auto;
}

.nameflexItem {
  width: 100%;
  height: auto;
  margin: 20px 0 0 10px;
}

.hashTag {
  float: left;
  padding: 0px 0px 0px 14px;
}

.flexGridContainer {
  /*display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;*/
  width: 100%;
}

.flexGridItem {
  width: calc(100% / 4 - 10px);
  min-height: 50px;
  float: left;
  text-align: left;
  margin: 0 10px 10px 0;
}

.flexGridItem_col2 {
  width: calc(100% / 2 - 10px);
  min-height: 50px;
  float: left;
  text-align: left;
  margin: 0 10px 10px 0;
}

.width100 {
  width: calc(100% - 10px);
}

.minHeight0 {
  min-height: 0px;
}

@media screen and (max-width: 1366px) {
  .container {
    left: 200px;
    top: calc(100% / 2 + 35px);
    width: calc(100% - 200px - 10px);
  }

  label[for="collapseSwitch"],
  label[for="collapseSwitch"]:hover {
    left: 145px;
    top: 12px;
  }

  .providerProfile label[for="collapseSwitch"]::before,
  .providerProfile label[for="collapseSwitch"]:hover:before {
    font-size: 12px;
    left: 10px;
    top: 5px;
  }

  label[for="collapseSwitch"] + h2 {
    font-size: 12px;
    margin-top: 5px;
    width: 170px;
  }

  .topHeader {
    padding: 5px 15px;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    margin-left: 170px;
    width: calc(100% - 170px);
  }

  .topHeader + div ul + div {
    width: calc(100% - 200px);
    padding: 45px 15px 15px 15px;
  }

  .sectionHeder {
    font-size: 11px;
  }

  .flexContainer {
    padding: 0;
    border-radius: 3px;
  }

  .infoCardHeadings,
  .infoCardHeading {
    font-size: 10px;
  }

  .flexItem {
    width: calc(100% / 3 - 10px);
  }

  .infoCardData {
    font-size: 14px;
    line-height: 16px;
    margin-top: 0px;
  }

  .contentData {
    font-size: 14px;
  }

  .npiinfoCardData {
    font-size: 14px;
  }

  .thirdContainer {
    margin-top: 10px;
  }

  .panel {
    width: calc(100% / 2 - 10px);
    margin: 0 10px 10px 0;
  }

  input:checked + label[for="collapseSwitch"]:before {
    left: 9px;
  }

  .npiHeader {
    top: 52px;
    left: 15px;
  }

  .npiList {
    left: 15px;
    top: 40px;
  }

  .flexGridItem {
    width: calc(100% / 3 - 10px);
    padding: 5px 10px;
  }

  .nameCardData {
    font-size: 12px;
  }

  .paneContent {
    margin-top: 10px;
  }

  .subContainer {
    padding-left: 10px;
  }

  .width100 {
    width: calc(100% - 10px);
  }

  .minHeight0 {
    min-height: 0px;
  }
}

.eduInfo.paneContent .flexGridContainer .flexGridItem:nth-child(1) {
  width: calc(100% / 2);
}
